.about {
  min-height: 70vh;
  padding: 20px 8%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  color: #657166;
}

.about-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title p {
  margin: 0 0 5px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.about-title h3 {
  margin: 0;
  font-size: clamp(40px, 5vw, 80px);
  font-weight: 800;
  line-height: 0.85;
  letter-spacing: -5px;
}

.about-content {
  padding-top: 30px;
  max-width: 500px;
  justify-self: end;
  margin: 0;
}

.about-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
}

.about-content p:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 80px 8%;
  }

  .about-content {
    padding-top: 0;
    justify-self: start;
  }

  .about-title h3 {
    font-size: clamp(45px, 12vw, 70px);
  }
}