.footer {
  padding: 35px 8% 20px;
  background-color: #657166;
  color: #ffffff;
}

/* TOP */

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.footer-top h2 {
  margin: 0;
  color: #f3ebdd;
  font-size: clamp(30px, 4vw, 50px);
  font-weight: 800;
  line-height: 0.9;
  letter-spacing: -2px;
}

.footer-button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #b89b7a;
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.footer-button:hover {
  background-color: #f3ebdd;
  color: #657166;
}


/* BOTTOM */

.footer-bottom {
  margin-top: 35px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 10px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 10px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #b89b7a;
}


/* MOBILE */

@media (max-width: 768px) {

  .footer {
    padding: 30px 8% 15px;
  }

  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-top h2 {
    font-size: 38px;
  }

  .footer-button {
    margin-top: 5px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}